.clients_container{
    /* border: 2px red solid; */
    width: 100%;
    height: 80vh;
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients_main{
    /* border: 2px blue solid; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
align-items: center;
}

.clients_main h1{
    color: #fe6d3f;
    font-weight: 500;

}

.clients_videos{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0rem;
}

.client_video_one{
    border: 2px black solid;
    width: 40%;
    height: 80%;
    position: relative;
    z-index: 1;
  
}
.client_video_two{
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 2;
    left: -200px;
    
}
.clients_videos img{
    width: 100%;
    height: 100%;
}
.client_video_three{
    width: 40%;
    height: 80%;
    position: absolute;
    right: 50px;
    z-index: 1;
}